* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #EBEBEB;
}

nav {
	height: 90px;
}

hr {
	display: block;
	border: 0;
	border-bottom: 2px solid #AAAAAA;
	width: 96%;
	margin: 0 auto;
	border-radius: 2px;
}

h2 {
	color: #D76F81;
	font-size: 1.4em;
	font-weight: 300;
	text-align: center;
	font-family: 'Lobster', cursive;
	margin: 3% 2%;
}

.brand {
	margin:40px 25px 0 50px;
	color: #68574C;
	font-family: 'Lobster', cursive;
	font-weight: 200;
	font-size: 20px;
	display: inline-block;
	text-transform: lowercase;
	letter-spacing: 2px;
}

nav ul {
	float: right;
	margin: 40px 34px 0 0;
}

 nav li {
 	display: inline-block;
 	margin: 0 14px;
 	font-family: 'Raleway', sans-serif;
 }

 nav a {
 	text-decoration: none;
 	color: #68574C;
 	font-size: 14px;
 	text-transform: uppercase;
 }

 @media (max-width: 550px) {
 	nav {
 		height: auto;
 		min-height: 90px;
 		text-align: center;
 	}
 	.brand {
 		margin: 5% auto;
 	}
 	nav ul {
 		float: none;
 		margin: 0 0 10px;
 	}
 }

 .welcome h1, p {
 	text-align: center; 
 	margin: 3% auto 2%;
 	width: 70%;
 }

 .welcome h1{
 	font-family: 'Josefin Slab', serif;
 	font-size: 22px;
 }

.welcome p {
	font-family: 'Raleway', sans-serif;
}

.welcome span {
	color: #D76F81;
}

 .welcome img {
	display: block;
	border-radius: 5px;
	width: 90%;
	margin: 0 auto;
}

@media (max-width: 550px) {
	.welcome h1 {
		line-height: 27px;
		width: 90%;
	}
}

.info {
	margin: 3% 2%;
	white-space: nowrap;
}

.info p {
	text-align: left;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}

.myWork, .aboutMe {
	width: 46%;
	display: inline-block;
	white-space: normal;
	margin: 0 2%;
	vertical-align: top;
}

.portfolio {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.portfolio div {
	width: 150px;
	overflow: hidden;
	margin: 1%;
	border:none;
	border-radius: 5px;
	background-color: white;
}

.portfolio div img {
	height: 125px;
}

.portfolio div h1 {
	font-family: 'Josefin Slab', serif;
}

.portfolio div h3 {
	
	letter-spacing: 0px;
	font-size: .7em;
	color: #D76F81;
}

@media (max-width: 546px) {
	.portfolio {
		justify-content: space-around;
	}
}

.contact {
	background-color: #2D2D2D;
	position: relative;
}

form {
	margin-left: 20px;
	width: 65%;
	display: inline-block;
	position: relative;
}


.contact h2 {
	text-align: left;
	margin: 20px 0;
}

form input {
	display:block;
	margin: 0 0 12px 0;
	width: 65%;
	border: none;
	border-radius: 3px;
	padding: 3px;
	background-color: #EBEBEB;
}

form textarea {
	width: 65%;
	border: none;
	border-radius: 3px;
	padding: 3px;
	background-color: #EBEBEB;
}

form button {
	display: block;
	margin: 2% 0 3%;
	background-color: transparent;
	border: none;
}

.contact form button h2 {
	font-family: 'Raleway', sans-serif;
	color: black;
	margin: 0;
	color: #EBEBEB;
	font-size: 1.1em;
}

.socialIcons {
	position: absolute;
	display: inline-block;
	top: 50%;
	height: 30px;
	margin-top: -15px;
	right: 5%;

}

.fa {
	height: 30px;
	width: 30px;
	text-align: center;
	background-color: #D76F81;
	border-radius:50%;
	padding-top: 7px;
	margin-right: 10px;
}